/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 87%;
  margin: 0 auto;
}

body {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.wrapper--header {
  width: 100%;
}

.header-top {
  padding: 14px 6.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
  background: linear-gradient(#35393D, #000);
}
.header-top .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}
.header-top .social__list {
  margin-right: 2.5%;
}
.header-top .social__list_icon {
  color: #fff;
  text-indent: -9999px;
}
.header-top .social__list_icon::before {
  font-family: "FontAwesome";
  font-size: 28px;
  float: left;
  text-indent: 0;
}
.header-top .social__list_icon--twitter::before {
  content: "\f081";
}
.header-top .social__list_icon--facebook::before {
  content: "\f082";
}
.header-top .social__list_icon--rss-feed::before {
  content: "\f143";
}
.header-top .search {
  margin-left: 0.5%;
  -ms-flex-preferred-size: 20.6%;
  flex-basis: 20.6%;
}
.header-top .search__input {
  width: 91%;
  padding: 7px 9px;
  border: none;
  border-radius: 12px;
  background-color: #000;
  font-size: 16px;
}

.hamburger {
  display: none;
}

.header-bottom {
  padding: 20px 6.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
}
.header-bottom .logo__link {
  color: #fff;
  font-size: 68px;
  text-shadow: 0 -2px 4px #000;
}
.header-bottom .menu {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
}
.header-bottom .menu__list_item {
  padding: 9px 18px;
  color: #77788B;
  font-size: 22px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-bottom .menu__list_item:hover, .header-bottom .menu__list_item--active {
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
}

.slider {
  position: relative;
}
.slider__list {
  display: none;
  border: 20px solid #000;
}
.slider__list--active {
  display: block;
}
.slider__action {
  width: 96.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slider__action_left, .slider__action_right {
  padding: 2px 14px;
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
  font-size: 36px;
  text-indent: -9999px;
}
.slider__action_left::before, .slider__action_right::before {
  content: "\f104";
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}
.slider__action_right::before {
  content: "\f105";
}
.slider__select {
  padding: 4px 14px;
  border-radius: 3px;
  position: absolute;
  bottom: -14px;
  left: 50%;
  background-color: #000;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider__select_dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 6px 2px;
  background-color: #77788B;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slider__select_dot--active, .slider__select_dot:hover {
  position: relative;
}
.slider__select_dot--active::before, .slider__select_dot:hover::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pages .wrapper {
  width: 83%;
  padding: 24px;
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}
.pages .page {
  margin-right: 2.3%;
  color: #fff;
  -ms-flex-preferred-size: 31.7%;
  flex-basis: 31.7%;
}
.pages .page__heading {
  padding: 12px 20px;
  background: linear-gradient(#35393D, #000);
  font-size: 26px;
  font-weight: 700;
}
.pages .page__content {
  padding: 20px;
  background-color: #161616;
}
.pages .page__content_image {
  border: 2px solid #fff;
  margin-bottom: 20px;
}
.pages .page__content_heading {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}
.pages .page__content_date {
  font-size: 14px;
  font-weight: 600;
}
.pages .page__content_page {
  color: #3C93B6;
  text-transform: uppercase;
}
.pages .page__content_paragraph {
  margin-top: 20px;
  color: #5D6788;
  font-weight: 600;
  line-height: 1.5;
}
.pages .page__content_link_cta {
  width: 53%;
  padding: 12px 16px;
  border-radius: 8px;
  margin-top: 33px;
  background-color: #fff;
  color: #5D6788;
  font-weight: 900;
  text-transform: uppercase;
}
.pages .page__content form {
  margin-top: 13px;
}
.pages .page__content_form_content {
  width: 86%;
  padding: 11px 7% 10px;
  border: none;
  border-radius: 8px;
  margin-bottom: 22px;
  outline: none;
  font-size: 18px;
  background-color: #8D8D8D;
  color: #fff;
}
.pages .page__content_form--submit {
  text-align: right;
}
.pages .page__content_form_cta {
  width: 66%;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  color: #5D6788;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
}
.pages .page:nth-child(3n) {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
}
.pages .page:nth-child(3n) .page__content_paragraph {
  margin-top: 0;
}
.pages .page-bottom {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  background-color: #161616;
}
.pages .page-bottom__social_list_link {
  color: #fff;
  text-indent: -9999px;
}
.pages .page-bottom__social_list_link::before {
  font-family: "FontAwesome";
  font-size: 50px;
  float: right;
  text-indent: 0;
}
.pages .page-bottom__social_list_link--twitter::before {
  content: "\f081";
}
.pages .page-bottom__social_list_link--facebook::before {
  content: "\f082";
}
.pages .page-bottom__social_list_link--flicker::before {
  content: "\f16e";
}
.pages .page-bottom__social_list_link--stumble-upon::before {
  content: "\f1a3";
}
.pages .page-bottom__social_list_link--rss-feed::before {
  content: "\f143";
}

/*# sourceMappingURL=style.css.map */
