$primary-color: linear-gradient(.25turn, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3), rgba(0, 0, 0, .7));
$black: #000;
$white: #fff;
$gray-hover: rgba(51, 51, 51, .7);
$menu-text: #77788B;
$header-gradient: linear-gradient(#35393D, #000);
$page: #161616;
$text-color: #5D6788;
$text-highlight: #3C93B6;
$input-background: #8D8D8D;
$footer-top: #333333;
$footer-text: #4C4F52;
$border: #131313;