// banner section started here
.slider {
  position: relative;

  &__list {
    display: none;
    border: 20px solid $black;

    &--active {
      display: block;
    }
  }

  &__action {
    width: 96.5%;
    @include flexBox(flex, null, center, null, null, space-between);
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    &_left {
      padding: 2px 14px;
      background-color: $gray-hover;
      color: $white;
      @include fontProperty(null, 36px);
      text-indent: -9999px;

      &::before {
        content: '\f104';
        @include fontProperty('FontAwesome');
        float: left;
        text-indent: 0;
      }
    }

    &_right {
      @extend .slider__action_left;

      &::before {
        content: '\f105';
      }
    }
  }

  &__select {
    padding: 4px 14px;
    border-radius: 3px;
    position: absolute;
    bottom: -14px;
    left: 50%;
    background-color: $black;
    @include transform(translateX(-50%));

    &_dot {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin: 6px 2px;
      background-color: $menu-text;
      text-indent: -9999px;
      @include transition(all .3s ease);
      
      &--active {
        position: relative;
        
        &::before {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $black;
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%));
        }
      }

      &:hover {
        @extend .slider__select_dot--active;
      }
    }
  }
}
// banner section ended here
// pages section started here
.pages {
  .wrapper {
    width: 83%;
    padding: 24px;
    margin: 43px auto 16px;
    @include flexBox(flex);
    background-color: $black;
  }

  .page {
    margin-right: 2.3%;
    color: $white;
    @include flexBasis(31.7%);

    &__heading {
      padding: 12px 20px;
      background: $header-gradient;
      @include fontProperty(null, 26px, null, 700);
    }

    &__content {
      padding: 20px;
      background-color: $page;

      &_image {
        border: 2px solid $white;
        margin-bottom: 20px;
      }

      &_heading {
        @include fontProperty(null, 22px, null, 700);
        text-transform: capitalize;
      }

      &_date { @include fontProperty(null, 14px, null, 600); }

      &_page {
        color: $text-highlight;
        text-transform: uppercase;
      }

      &_paragraph {
        margin-top: 20px;
        color: $text-color;
        @include fontProperty(null, null, null, 600, 1.5);
      }

      &_link_cta {
        width: 53%;
        padding: 12px 16px;
        border-radius: 8px;
        margin-top: 33px;
        background-color: $white;
        color: $text-color;
        @include fontProperty(null, null, null, 900);
        text-transform: uppercase;
      }

      form { margin-top: 13px; }

      &_form_content {
        width: 86%;
        padding: 11px 7% 10px;
        border: none;
        border-radius: 8px;
        margin-bottom: 22px;
        outline: none;
        @include fontProperty(null, 18px);
        background-color: $input-background;
        color: $white;
      }

      &_form--submit { text-align: right; }

      &_form_cta {
        width: 66%;
        padding: 12px 16px;
        border: none;
        border-radius: 8px;
        outline: none;
        background-color: $white;
        color: $text-color;
        @include fontProperty(null, 16px, null, 900);
        text-transform: uppercase;
        text-align: left;
      }
    }

    &:nth-child(3n) {
      margin-right: 0;
      @include flexBox(flex, null, null, column, null, space-between);

      .page__content_paragraph { margin-top: 0; }
    }

    &-bottom {
      padding: 20px;
      @include flexBox(flex, null, null, null, null, center);
      background-color: $page;

      &__social_list_link {
        color: $white;
        text-indent: -9999px;

        &::before{
          @include fontProperty('FontAwesome', 50px);
          float: right;
          text-indent: 0;
        }

        &--twitter::before { content: '\f081'; }
        &--facebook::before { content: '\f082'; }
        &--flicker::before { content: '\f16e'; }
        &--stumble-upon::before { content: '\f1a3'; }
        &--rss-feed::before { content: '\f143'; }
      }
    }
  }
}
// pages section ended here